footer {
    width: 100%;
    position: relative;
    bottom: 0;
    /* background: linear-gradient(to right, #00093c, #2d0b00); */
    color: var(--color-primary-100);
    font-size: var(--font-size-200);
    line-height: 20px;
    background: #000;
}

footer .footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .footer-col {
    flex-basis: 25%;
    padding: 10px;
}

footer .logo {
    width: 200px;
    margin-bottom: 30px;
}

footer .footer-col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .footer-col .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: var(--color-primary-100);;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form .far {
    font-size: var(--font-size-400);
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form button .fas {
    font-size: 16px;
    color: #ccc;
}

footer .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: var(--color-secondary-700);
    background: var(--color-primary-100);
    margin-right: 15px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    footer {
        bottom: unset;
    }
    footer .footer-col {
        flex-basis: 100%;
    }
}