@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Amatic+SC&family=Oswald:wght@200;500&family=Rubik:wght@400;700;900&display=swap");

/*MAIN START*/

html {
  overflow-x: hidden;
}

main .home {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 3rem;
}

main .home .home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

main .home .home-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  main .home {
    flex-direction: column-reverse;
  }
}
/*MAIN END*/

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 10rem));
  }
}