@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Amatic+SC&family=Oswald:wght@200;500&family=Rubik:wght@400;700;900&display=swap");

/*MAIN START*/

html {
  overflow-x: hidden;
}

main .home {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 3rem;
}

main .home .home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

main .home .home-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  main .home {
    flex-direction: column-reverse;
  }
}
/*MAIN END*/

/*Infinite Marquee START*/
.text-wrapper {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-shrink: 0;
  background: var(--color-primary-200);
  overflow: hidden;
  user-select: none;
  gap: 10rem;
  text-align: center;
}

.text-wrapper h1 {
  font-size: 12px;
  font-weight: lighter;
  color: var(--color-secondary-700);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0.6rem;
  animation: scroll 6s linear infinite;
}
/*Infinite Marquee END*/

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 10rem));
  }
}

header .header-contact-info {
  position: absolute;
  top: calc(var(--nav-top-offset-size));
  left: 20px;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  opacity: 0.7;
}

header .header-contact-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--font-size-200);
}

header .header-contact-info .gsm i {
  color: var(--color-secondary-200);
}

header .header-contact-info .whatsapp span,
header .header-contact-info .gsm span {
  color: var(--color-secondary-200);
}

header .header-contact-info .whatsapp i {
  color: green;
}

@media only screen and (max-width: 900px) {
  header .header-contact-info {
    display: none;
  }
}