main .testimonials-section {
    width: 100%;
    padding: 0px 8%;
   /* background-color: #191d28; */
   background-color: var(--color-secondary-400);
}

main .testimonials-section .section-header {
    max-width: 700px;
    text-align: center;
    margin: 30px auto 40px;
    margin-bottom: 10px;
}

main .testimonials-section .section-header h1 {
    position: relative;
    font-size: clamp(var(--font-size-500), 5cqi, var(--font-size-800));
    color: var(--color-primary-400);
}

main .testimonials-section .testimonial-swiper {
    position: relative;
}
main .testimonials-section .testimonial-swiper .testimonial-card {
    padding: 1rem;
}

main .testimonials-section .testimonial-swiper .testimonial-card .test-card-body {
    /* background-color: #161922; */
    background-color: var(--color-secondary-300);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
    padding: 1.25rem;
    border-radius: var(--card-border-radius-secondary);
}

main .testimonials-section .testimonial-swiper .testimonial-card .test-card-body .quote {
    display: flex;
    align-items: center;
}

main .testimonials-section .testimonial-swiper .testimonial-card .test-card-body .quote i {
    font-size: var(--font-size-500);
    color: var(--color-secondary-100);
    margin-right: 1.25rem;
}

main .testimonials-section .testimonial-swiper .testimonial-card .test-card-body .quote h2 {
    color: var(--color-primary-100);
    font-size: var(--font-size-400);
    /*color: #dadada*/
}

main .testimonials-section .testimonial-swiper .testimonial-card .test-card-body p {
    margin: 10px 0px 15px;
    font-size: var(--font-size-200);
    line-height: 1.5;
    /* color: #767a86; */
    color: var(--color-secondary-200);
}

main .testimonials-section .testimonial-swiper .testimonial-card .ratings i {
    font-size: var(--font-size-200);
    color: var(--color-primary-400);
    cursor: pointer;
}

main .testimonials-section .testimonial-swiper .testimonial-card .profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

main .testimonials-section .testimonial-card .profile .profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

main .testimonials-section .testimonial-card .profile .profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

main .testimonials-section .testimonial-card .profile .profile-desc {
    display: flex;
    flex-direction: column;
}

main .testimonials-section .testimonial-card .profile .profile-desc span:nth-child(1) {
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-400);
}

main .testimonials-section .testimonial-card .profile .profile-desc span:nth-child(2) {
    font-size: var(--font-size-200);
    color: var(--color-secondary-200);
}