main .blogs {
    width: 100%;
}


main .blogs .blogs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

/*BLOG POST SWIPER*/
.blogs-swiper {
    width: 100%;
    height: 100%;
}

.blogs-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}