.shop-details-wrapper {
    width: 100%;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1.12fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    font-family: var(--font-family-primary);
}

.shop-details-slider {
    position: relative;
    height: 570px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    border-radius: var(--card-border-radius-primary);
}

.shop-details-slider .swiper-slide {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.shop-details-slider .swiper-slide .shop-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.shop-details-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop-details-content-block {
    grid-row-gap: 2rem;
    flex-direction: column;
    display: flex;
}

.shop-details-content-block .shop-details-title {
    font-weight: var(--font-weight-bold);
    line-height: 1.2em;
    margin-bottom: 0.625rem;
    font-size: var(--font-size-800);
}

.shop-item-info-wrapper {
    grid-row-gap: 0.625rem;
    flex-direction: column;
    display: flex;
}

.shop-item-info-wrapper .shop-details-subtitle {
    color: var(--color-primary-700);
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-regular);
}

.shop-item-info-wrapper p {
    color: var(--color-secondary-400);
    margin-block: 0.625rem;
    line-height: 1.5em;
}

.shop-item-info-wrapper .shop-item-price-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: wrap;
    display: flex;
}

.shop-item-info-wrapper .shop-item-price-wrapper h4 {
    margin-block: 0.625rem;
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-bold);
    line-height: 1.2em;
}

.shop-details-content-block form {
    display: block;
}

.shop-details-content-block form label {
    display: block;
    margin-bottom: 0.625rem;
    font-size: var(--font-size-300);
}

.shop-item-button-wrapper {
    grid-column-gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    display: flex;
}

.shop-details-content-block form .quantity-item {
    width: 100px;
}

.shop-details-content-block form .form-input-box {
    width: auto;
}

/*Swiper customization*/
.shop-details-slider .swiper-navBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-100);
    background: var(--color-primary-700);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-inline: 1rem;
    transition: 0.3s;
    border: 1px solid var(--color-primary-700);
}

.shop-details-slider .swiper-navBtn:hover {
    background: var(--color-primary-100);
    color: var(--color-primary-700);
}

.shop-details-slider .swiper-navBtn::after {
    font-size: var(--font-size-400);
}

.shop-details-slider .swiper-button-prev::after {
    margin-right: 0.2rem;
}

.shop-details-slider .swiper-button-next::after {
    margin-left: 0.2rem;
}

.shop-details-slider .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1.5rem;
}
.shop-details-slider .swiper-pagination-bullet {
    background: var(--color-primary-600);
}
