.shop-details-wrapper {
    width: 100%;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1.12fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    font-family: var(--font-family-primary);
}

.shop-details-slider {
    position: relative;
    height: 570px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    border-radius: var(--card-border-radius-primary);
}

.shop-details-slider .like-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    font-size: var(--font-size-500);
    text-align: center;
    cursor: pointer;
    border-radius: 2em;
    line-height: 1.92em;
    color: var(--color-primary-700);
}

.product-detail-page .swiper-slide {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.shop-details-slider .swiper-slide .shop-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.shop-details-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop-details-content-block {
    grid-row-gap: 2rem;
    flex-direction: column;
    display: flex;
}

.shop-details-content-block .shop-details-category {
   line-height: 2rem;
}

.shop-details-content-block .shop-details-category a {
    color: var(--color-secondary-200);
    transition: 0.25s;
}

.shop-details-content-block .shop-details-category a:hover {
    color: var(--color-primary-500);
}

.shop-details-content-block .shop-details-title {
    font-weight: var(--font-weight-bold);
    line-height: 1.2em;
    margin-bottom: 0.625rem;
    font-size: var(--font-size-800);
}

.shop-item-info-wrapper {
    grid-row-gap: 0.625rem;
    flex-direction: column;
    display: flex;
}

.shop-item-info-wrapper .shop-details-subtitle {
    color: var(--color-primary-700);
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-regular);
}

.shop-item-info-wrapper p {
    color: var(--color-secondary-400);
    margin-block: 0.625rem;
    line-height: 1.5em;
}

.shop-item-info-wrapper .shop-item-price-wrapper {
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    flex-flow: wrap;
    display: flex;
    align-items: center;
}

.shop-item-info-wrapper .shop-item-price-wrapper h4 {
    margin-block: 0.625rem;
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-bold);
    line-height: 1.2em;
}

.shop-item-info-wrapper .shop-item-price-wrapper span {
    font-size: var(--font-size-300);
    color: var(--color-secondary-300);
    text-decoration: line-through;
    text-align: end;
}

.shop-details-content-block form {
    display: block;
}

.shop-details-content-block form label {
    display: block;
    margin-bottom: 0.625rem;
    font-size: var(--font-size-300);
}

.shop-item-button-wrapper {
    grid-column-gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    display: flex;
}

.shop-details-content-block form .quantity-item {
    width: 100px;
    background: hsl(205.71, 30.43%, 95.49%);
}

.shop-details-content-block form .form-input-box {
    width: auto;
}

/*Swiper customization*/
.product-detail-page .swiper-navBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-100);
    background: var(--color-primary-700);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-inline: 1rem;
    transition: 0.3s;
    border: 1px solid var(--color-primary-700);
}

.product-detail-page .swiper-navBtn:hover {
    background: var(--color-primary-100);
    color: var(--color-primary-700);
}

.product-detail-page .swiper-navBtn::after {
    font-size: var(--font-size-400);
}

.product-detail-page .swiper-button-prev::after {
    margin-right: 0.2rem;
}

.product-detail-page .swiper-button-next::after {
    margin-left: 0.2rem;
}

.product-detail-page .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1.5rem;
}
.product-detail-page .swiper-pagination-bullet {
    background: var(--color-primary-600);
}


/*RECENT PRODUCTS SECTION*/
.recent-products-section .product-list-slider {
    position: relative;
    height: 100%;
    padding-block: 4rem;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    border-radius: var(--card-border-radius-primary);
}

.recent-products-section .product-list-slider .product-box {
    background: var(--color-primary-100);
    width: 80%;
}

.recent-products-section .section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 100%;
    gap: 1rem;
    text-align: center;
}

.recent-products-section .section-header span {
    text-transform: uppercase;
    color: var(--color-secondary-200);
    font-size: var(--font-size-300);
}

.recent-products-section .section-header h3 {
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-800);
}


/*Media Quaries*/
@media only screen and (max-width: 768px) {
    .shop-details-wrapper {
        grid-template-columns: 1fr; /* Change to a single column layout for smaller screens */
    }

    .product-detail-page .swiper-navBtn {
        margin-inline: 0rem;
        width: 30px;
        height: 30px;
        font-size: var(--font-size-100);
    }
}

/*Footer*/

.shop-details-info-footer .shop-details-share-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.shop-details-info-footer .shop-details-share-social-medias {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: start;
    align-items: center;
}

.shop-details-info-footer .shop-details-share-social-medias .social-icon {
    color: var(--color-secondary-200);
    transition: 0.3s;
}


.shop-details-info-footer .shop-details-share-social-medias .social-icon:hover {
    color: var(--color-secondary-300);
}