.profile-account-container .page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-account-container .page-content .content-form form .input-field {
    max-width: none;
}

.profile-account-container .page-content .content-form form .textarea-input-field textarea {
    resize: none;
    width: 100%;
}

.profile-account-container .page-content .content-form form .textarea-input-field {
    width: 100%;
    max-width: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile-account-container .page-content .content-form form .form-section-title {
    margin-top: 1rem;
}
.highlight-bold {
    color: var(--color-primary-600) !important;
}

.highlight-semi-bold {
    color: var(--color-primary-500) !important;
}

.highlight-light {
    color: var(--color-primary-400) !important;
}