.profile-account-container .page-content {
    width: 100%;
}

.profile-account-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
}

.profile-account-container .page-content form {
    width: 100%;
}

.profile-account-container .page-content .content-form {
    width: 85%;
}

.profile-account-container .page-content .content-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}