.form-input-box {
    width: 100%;
}

form .input-field {
    max-width: 380px;
    width: 100%;
    background-color: var(--color-primary-200);
    height: 55px;
    border-radius: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 0.4rem;
    position: relative;
}

form .input-field-errors {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form .input-field-errors p {
    color: var(--color-primary-700);
}

form .input-field i {
    text-align: start;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

form .input-field input,
form .input-field select,
form .input-field textarea,
.form-input-box select,
.form-input-box textarea,
.form-input-box input {
    width: 100%;
    padding-block: var(--input-padding-block-size);
    padding-inline: var(--input-padding-inline-size);
    background-color: var(--color-primary-200);
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 300ms ease-in-out;
    border: none;
    outline: none;
    border-radius: var(--input-border-radius-size);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.form-input-box input[type="number"].quantity-item {
    box-shadow: none;
    padding-inline: 0.5rem;
    padding-block: 0.75rem;
}

form .input-field input:focus,
form .input-field select:focus,
form .input-field textarea:focus,
.form-input-box select:focus,
.form-input-box textarea:focus,
.form-input-box input:focus {
    background-color: var(--color-primary-100);
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696, -13px -13px 100px var(--color-primary-100);
}

form .input-field input:active,
form .input-field select:active,
form .input-field textarea:active,
.form-input-box select:active,
.form-input-box textarea:active,
.form-input-box input:active {
    transform: scale(1);
}

form .input-field input::placeholder,
form .input-field select::placeholder,
form .input-field textarea::placeholder,
.form-input-box select::placeholder,
.form-input-box textarea::placeholder,
.form-input-box input::placeholder {
    color: var(--input-placeholder-color-primary);
}

.form-input-box label {
    display: block;
    margin-bottom: 1rem;
    font-size: var(--font-size-200);
}

.forms-container .social-text {
    padding: .7rem 0;
    font-size: 1rem;
}

.forms-container .social-media {
    display: flex;
    justify-content: center;
}

.forms-container .social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .3s;
}

.forms-container .social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
}

form select option[value=""] {
    color: var(--color-secondary-200);
}