/*Infinite Marquee START*/
.marquee.text-wrapper {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-shrink: 0;
  background: transparent;
  overflow: hidden;
  user-select: none;
  gap: 10rem;
  text-align: center;
}

.marquee.text-wrapper span {
  font-size: 12px;
  font-weight: lighter;
  color: var(--color-secondary-700);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0.6rem;
  animation: scroll 6s linear infinite;
}
/*Infinite Marquee END*/

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 10rem));
  }
}
