.top-categories {
    position: absolute;
    top: var(--top-categories-top-offset-size-primary);
    left: 0;
    width: 100%;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-categories .top-category-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    bottom: 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.top-categories .top-category-list .listitem {
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    padding-inline: 1.3rem;
    padding-block: 0.7rem;
    background: var(--color-primary-200);
    border: 0.1px solid #5c5c5c;
    cursor: pointer;
    color: #545454;
}

.top-categories .top-category-list .listitem:hover {
    background: rgba(186, 189, 190, 0.4);
    color: var(--color-secondary-700);
}

.top-categories .top-category-list .listitem:hover a {
    color: var(--color-secondary-700);
}

.top-categories .top-category-list .listitem a {
    color: #545454;
    font-size: var(--font-size-200);
}

.top-categories .top-category-list .listitem.search {
    border-radius: 50% !important;
    padding: 0rem !important;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-categories .top-category-list .listitem.search i {
    font-size: var(--font-size-300);
}

@media only screen and (max-width: 768px) {
    .top-categories .top-category-list .listitem a {
        font-size: var(--font-size-100);
    }

    .top-categories .top-category-list .listitem {
        padding-inline: 0.5rem;
        padding-block: 0.4rem;
    }

    .top-categories .top-category-list {
        width: 100%;
        gap: 0.2rem;
    }

    .top-categories {
        top: var(--top-categories-top-offset-size-secondary);
    }

    .top-categories .top-category-list .listitem.search {
        border-radius: 50% !important;
        padding: 0rem !important;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .top-categories .top-category-list .listitem.search i {
        font-size: var(--font-size-200);
    }
}