:root {
    --card-border-radius-primary: 1.25rem;
    --card-border-radius-secondary: 0.625rem;

    --card-border-size-100: 1px;
    --card-border-size-200: 1.5px;
    --card-border-size-300: 2px;

    --card-box-shadow-size-100: 6px;
    --card-box-shadow-size-200: 10px;

    --card-width-size-300: 31rem;
}