.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.contact-us {
    margin-bottom: 2rem;
}

.contact-us .list-group-item {
    border-color: var(--color-secondary-200);
    padding: 1.2rem 0;
    max-width: 100%;
    margin-left: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .125);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.contact-us .list-group-item>div>div:first-child {
    font-weight: bold;
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-lg-4, .col-lg-3, .col-12, .col-md-10, .col-md-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#contact-custom-field {
    margin-bottom: 2rem;
}

.contentbox-sub-title {
    border-bottom: 1px solid #eee;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background: #fafafa;
}

.contact-us.banks .contact-us-bank-item {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
}

@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
    .col-md-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }
}

.contact-us.banks .bank-logo {
    position: relative;
    height: 4rem;
    border: 1px solid #eee;
    background: #fff;
    text-align: center;
    line-height: 4rem;
    font-size: 1.2rem;
}

.contact-us.banks .bank-logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

.bank-detail {
    display: flex;
    flex-direction: column;
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-bottom: 0;
}