main .most-products {
    width: 100%;
}

main .most-products .content-container {
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

main .most-products header {
    text-align: center;
}

main .most-products header h1 {
    margin: 3rem 0;
    font-size: clamp(1rem, 15cqi, 4rem);
    padding: 0.7rem;
    position: relative;
    display: inline-block;
}

main .most-products header h1::before,
main .most-products header h1::after {
    content: '';
    position: absolute;
}

main .most-products header h1::before{
    width: 100%;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background: black;
    border-radius: 0.2rem;
}

main .most-products header h1::after {
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid black;
    background: #efefef;
}

main .most-products .tab-container {
    width: 80%;
    margin: 0 auto 3rem auto;
    box-shadow: 0 0.8rem 1rem hsl(220, 7.32%, 91.96%);
}

@media screen and (max-width: 768px) {
    main .most-products .tab-container {
        width: 97%;
    }
}

main .most-products .tab-filter-container {
    padding: 2rem;
    text-align: center;
    background: hsl(205.71, 30.43%, 95.49%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

main .most-products .filter-btn:not(.active) {
    background: transparent;
    color: var(--color-secondary-700);
}

main .most-products .tab-filter-item-container {
    background-color: white;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 30rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

main .most-products .tab-filter-item-container .tab-item {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1rem 3rem;
    transform: translateY(100%);
    background: hsl(0, 0%, 99%);
    transition: transform 0.5s ease-in-out;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    place-items: center start; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main .most-products .tab-filter-item-container .tab-item.selected_tab {
    transform: translateY(0);
    transition: transform 0.5 ease-in-out;
    background: white;
    animation: feadIn 0.6s ease-in-out;
}

@keyframes feadIn {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

/*PRODUCT CARD*/
main .most-products .product-slide-box {
    width: 80%;
    margin: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
}

main .most-products .product-slide-box .product-slide-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    height: 12rem;
}

main .most-products .product-slide-box .product-slide-img img:hover {
    transform: scale(1.1);
}


main .most-products .product-slide-box .product-slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
    transition: 0.4s;
}

main .most-products .product-slide-box .product-detail-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

main .most-products .product-slide-box .product-detail-box .product-type {
    display: flex;
    flex-direction: column;
}
main .most-products .product-slide-box .product-detail-box .product-type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the number of displayed lines */
    -webkit-box-orient: vertical; /* Display vertically */
    line-height: 1.2; /* Adjust line height for better appearance */
}

main .most-products .product-slide-box .product-detail-box .product-type span {
    color: rgba(26, 26, 26, 0.5);
}

main .most-products .product-slide-box .product-detail-box .price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}

main .most-products .product-slide-box .product-detail-box .action-button {
    position: relative;
    height: 2rem;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .most-products .product-slide-box .product-detail-box .action-button .add-to-cart-btn {
    position: relative;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: var(--color-primary-600);
}

main .most-products .product-slide-box .like-btn {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    text-align: center;
    cursor: pointer;
    border-radius: 2em;
    line-height: 1.92em;
    color: #fe8a39;
}


/*PRODUCT SWIPER*/
.products-swiper {
    width: 100%;
    height: 100%;
}

.products-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    main .most-products .product-slide-box {
        width: 100%;
    }
}